<section class="testimonial">
    <div class="containers">
        <owl-carousel-o [options]="testimonialSlider">
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Testimonial">
                    <div class="testimonial-content text-center">
                        <h2>Aiden</h2>
                        <h3>Web Designer</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Nemo minima architecto pariatur quae, sint doloremque minus quo.</p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Testimonial">
                    <div class="testimonial-content text-center">
                        <h2>Zamin</h2>
                        <h3>Software Engineer</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Nemo minima architecto pariatur quae, sint doloremque minus quo.</p>
                    </div>
                </div>
            </ng-template> 
            <ng-template carouselSlide>
                <div class="testimonial-image">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Testimonial">
                    <div class="testimonial-content text-center">
                        <h2>Ehtesham</h2>
                        <h3>Web Developer</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Nemo minima architecto pariatur quae, sint doloremque minus quo.</p>
                    </div>
                </div>
            </ng-template>    
        </owl-carousel-o>
    </div>
</section>
