<div class="upper-topbar">
  <div class="container">
    <div class="row">
      <div class="col-3 inline-display text-warning">
        <i class="fas fa-location-arrow"></i>
        <span class="marg"> 5523 Research Park Drive, Suite 110</span>
      </div>
      <div class="col-5 inline-display text-warning">
        <i class="fa fa-phone"></i>
        <span class="marg">+012 (3546) 547</span>
      </div>
      <div class="col-1 text-warning">
        <span class="margi">Follow:</span>
      </div>
      <div class="col-3">
        <ul>
          <li>
            <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#" class="text-white"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a href="#" class="text-white"><i class="fab fa-pinterest"></i></a>
          </li>
          <li>
            <a href="#" class="text-white"><i class="fa fa-rss"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="mid-topbar">
  <div class="container">
    <div class="row">
      <div class="col-6 inline-display text-warning">
        <i class="fas fa-location-arrow"></i>
        <span class="marg"> 5523 Research Park Drive, Suite 110</span>
      </div>
      <div class="col-3 inline-display">
        <div class="icon"><i class="fi flaticon-title"></i></div>
        <div class="award-info">
          <h4>Global Certified</h4>
          <p>ISO 9001:2016</p>
        </div>
      </div>
      <div class="col-3 inline-display">
        <div class="icon"><i class="fi flaticon-medal"></i></div>
        <div class="award-info">
          <h4>Winner</h4>
          <p>Construction award 2016</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- NavBar-->
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand col-1" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active mx-4" aria-current="page" href="#">Home</a>
        <a class="nav-link active mx-4" href="#">About</a>
        <a class="nav-link active mx-4" href="#">Services</a>
        <a class="nav-link active mx-4" href="#">Projects</a>
        <a class="nav-link active mx-4" href="#">Pages</a>
        <a class="nav-link active mx-4" href="#">Blog</a>
        <a class="nav-link active mx-4" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>
<!-- <p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p> -->
