.inline-display {
    display: inline;
}
.marg {
    margin: .5rem;
}

ul li {
    display: inline;
    padding: .5rem;
  }

.upper-topbar {
    background-color: #051829;
    padding: .3em;
}

.container {
    margin-top: .5em;
}

.margi {
    margin-left: 5rem;
}

.margu {
    margin-left: 20rem;
}

.mright {
    margin-right: 15rem;
}

.request-quote {
    width: 140px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    border: 0;
    border-radius: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.theme-btn-s2 {
    background-color: #020b12;
    color: #fff;
}