<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-2 mt-5">
        <div class="section-title">
          <h2>Our services</h2>
        </div>
      </div>
      <div class="col-8 mt-5">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.
        </p>
      </div>
      <div class="col-2 mt-5">
        <button type="button" class="btn btn-outline-warning">
          All Services
        </button>
      </div>
    </div>
    <div class="container my-4">
      <hr class="mb-5" />

      <!--Carousel Wrapper-->
      <div
        id="multi-item-example"
        class="carousel slide carousel-multi-item"
        data-ride="carousel"
      >
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li
            data-target="#multi-item-example"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img
                    class="card-img-top"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap"
                  />
                  <div class="info">
                      <h1>Heading</h1>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa, dolorum fugiat fuga blanditiis iure. Unde asperiores iusto molestiae fugiat quam explicabo, laudantium dicta quasi, repellendus facere nihil dignissimos harum.</p>
                      <a href="#" class="btn">Get Details</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img
                    class="card-img-top"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                    alt="Card image cap"
                  />
                  <div class="info">
                    <h1>Heading</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa, dolorum fugiat fuga blanditiis iure. Unde asperiores iusto molestiae fugiat quam explicabo, laudantium dicta quasi, repellendus facere nihil dignissimos harum.</p>
                    <a href="#" class="btn">Get Details</a>
                </div>
                </div>
              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img
                    class="card-img-top"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                    alt="Card image cap"
                  />
                  <div class="info">
                    <h1>Heading</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa, dolorum fugiat fuga blanditiis iure. Unde asperiores iusto molestiae fugiat quam explicabo, laudantium dicta quasi, repellendus facere nihil dignissimos harum.</p>
                    <a href="#" class="btn">Get Details</a>
                </div>
                </div>
              </div>
            </div>
          </div>
          <!--/.First slide-->
        </div>
        <!--/.Slides-->
      </div>
      <!--/.Carousel Wrapper-->
    </div>
  </div>
</section>
